  {% extends 'pizzas/base.html' %}
    {% load static %}
    
    {% block content %}
     
    
        <div class="homeImage">
            {% if messages %} 
            {% for message in messages %} 
                {% if message.tags == "warning" %}
                    <div id="warning" class="message rounded col-md-2">{{ message }}</div>
                {% else %}
                    <div id="success" class="message rounded col-md-2">{{ message }}</div>
                {% endif %} 
            {% endfor %} 
            {% endif %}
    
        </div>
    
            
    
    {% endblock content %}


    