{% load static %}


 <!-- navabar start -->
 <!-- <nav class="navbar navbar-expand-lg navbar navbar-white">
    <div class="container-fluid ">
        <a class="navbar-brand alert-warning" href="/">
        <img src="{% static 'images/nadia.jpeg' %}" alt="Hi!" width="80" height="80">
        Nadia's Garden Pizza</a>
        
        <div class="collapse navbar-collapse" id="navbars-host">
            <ul class="navbar-nav ms-auto">         
                <li class="nav-item"><a class="nav-link" href="#">Pizzas</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
            </ul>
        </div>
</nav> -->


<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="/">
        <img
          src="{% static 'images/nadia.jpeg' %}"
          height="40"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Nadia's Garden Pizza</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-link px-3 me-2">
            Login
          </button>
          <button type="button" class="btn btn-primary me-3">
            Sign up for free
          </button>
          <a
            class="btn btn-dark px-3"
            href='/'
            role="button"
            >Pizzas</a>
          <a
            class="btn btn-dark px-3"
            href="{% url 'register' %}"
            role="button"
            >Register</a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <!-- Navbar -->